@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

button:hover{
    background-color: #C97BFF;
    cursor: pointer;
}
.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* nav style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
}
nav ul li{
    list-style: none;
}
nav ul a{
    text-decoration: none;
}
nav ul{
    display: flex;
    gap: 3rem;
    margin-right: 15px;
}
.nav-home{
    color: #252432;
    font-weight: 700;
    font-size: 1rem;
}
.nav-shop{
    color: #8987A1;
    font-weight: 400;
    font-size: 1rem;
}
.nav-about-us{
    color: #8987A1;
    font-weight: 400;
    font-size: 1rem;
}
.nav-card{
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    font-size: 1rem;
}
/* banner style */
.banner-section{
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
}
.banner-title-description{
    margin-top: 383px;
}
.banner-title{
    font-weight: 700;
    font-size: 4.0625rem;
    margin: 0;
    margin-bottom: 13px;
}
.banner-title-style{
    color: #E95A08;
}
.banner-description{
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: 1.375rem;
    margin: 0;
}
.banner-img{
    margin-top: 327px;
    margin-right: 15px;
}
.main-section{
    max-width: 1140px;
    margin: 0 auto;
}
.main-title-description{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.card-main-section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.main-title{
    font-weight: 700;
    font-size: 50px;
    margin: 0;
    margin-bottom: 16px;
}
.card-section{
    margin-bottom: 25px;
}
.main-description{
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: 22px;
    margin: 0 125px;
}
.main-title-style{
    color: #E95A08;
}
.card-title{
    font-weight: 400;
    font-size: 1.30rem;
    margin: 10px 70px;
}
.card-pey{
    font-weight: 700;
    font-size: 1.25rem;
    margin: 10px 100px;

}
.card-btn{
    color: white;
    background-color: #E95A08;
    width: 270px;
    height: 50px;
    font-weight: 600;
    font-size: 16px;
    border: none;
}
.main-second-section{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 600px;
    margin-top: 200px;
    margin-bottom: 133px;
}
.main-second-flower-img{
    position: absolute;
    width: 540px;
    height: 597px;
}
.main-second-trusted-img{
    width: 280px;
    height: 280px;
    position: absolute;
    margin-top: -125px;
    margin-left: 350px;
    filter: drop-shadow(-4px 10px 2px rgba(0, 0, 0, 0.25));
}
.main-second-title{
    margin: 0;
    font-weight: 700;
    font-size: 50px;
    margin-top: 25px;
    margin-bottom: 15px;
}
.main-second-description{
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
    font-weight: 400;
    font-size: 22px;
}
.main-second-description-list{
    margin-bottom: 15px;
}
.main-third-section{
    max-width: 1140px;
    margin: 0 auto;
}
.main-third-title{
    margin: 0;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    margin-bottom: 25px;
}
.main-third-title-style{
    color: #E95A08;
}
.main-third-descripton{
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
    font-weight: 400;
    font-size: 22px;
    width: 888px;
    height: 54px;
    text-align: center;
    margin-left: 135px;
    margin-bottom: 120px;
}
.main-fourth-section{
    display: flex;
}
.main-third-bg{
    background-image: url('../assets/deal-bloom.png');
    background-repeat: no-repeat;
    width: 360px;
    height: 200px;
    text-align: center;
    border-radius: 10px;
}
.main-third-bg-second{
    background-image: url('../assets/deal-ana.png');
    background-repeat: no-repeat;
    width: 360px;
    height: 200px;
    text-align: center;
    border-radius: 10px;
    margin-top: 25px;
}
.main-third-bg-third{
    background-image: url('../assets/deal-zabo.png');
    background-repeat: no-repeat;
    width: 750px;
    height: 425px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 25px;
    margin-left: 25px;
    border-radius: 15px;
}
.main-third-title{
    margin: 0;
    font-weight: 700;
    font-size: 50px;
}
.main-third-description{
    color: white;
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    text-decoration:underline;
}
.main-third-0ff{
    color: white;
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    padding-top: 70px;
}
.main-third-zabo{
    font-weight: 700;
    font-size: 40px;
    margin: 0;
    color: white;
    padding-top: 150px;
}
.main-third-description-second{
    font-weight: 600;
    font-size: 28px;
    margin: 0;
    color: white;
}
.login-form-section{
    background-image: url('../assets/news-letter-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 533px;
    margin-top: 120px;
}
.login-form-title{
    color: white;
    margin: 0;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    padding-top: 199px;
}
.login-form{
    font-weight: 400;
    font-size: 16px;
    width: 644px;
    height: 50px;
    margin: 0;
    padding-left: 20px;
    border: none;
}
.login-form-btn{
    color: white;
    background-color: #E95A08;
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    width: 186px;
    height: 52px;
    border: none;
}
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 50px auto;
}
.footer-description{
    font-weight: 400;
    font-size: 22px;
    margin: 0;
    color: rgba(0, 0, 0, 0.5);
    width: 360px;
    margin-top: 10px;
}
.footer-anchor{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 110px;
    row-gap: 30px;
}
footer a{
    text-decoration: none;
    color: rgba(107, 114, 128, 1);
}
.footer-icon{
    justify-content: center;
    align-items: center;
    margin-right: 24px;
}
.twitter{
    margin-bottom: 8px;
}
/* responsive style */

@media screen and (max-width:576px) {
    .nav-home, .nav-shop, .nav-about-us{
        display: none;
    }
    nav{
        
    }
    .nav-img{
        width: 70px;
        height: 38px;
        margin-left: 25px;
    }
    .nav-card{
        display: flex;
        align-items: center;
        margin-left: 155px;
        gap: 5px;
        
    }
    .banner-section{
        display: flex;
        flex-direction: column-reverse;
    }
    .banner-title{
        font-weight: 700;
        font-size: 45px;
        margin: 0;
        margin-bottom: 25px;
    }
    .banner-img{
        margin: 28px auto;
    }
    .banner-title-description{
        margin: 0 auto;
        width: 570px;
    }
    .card-main-section{
        grid-template-columns: repeat(2,1fr);
        gap: 22px;
    }
    .main-title-description{
        width: 570px;
    }
    .main-description{
        display: flex;
        display: block;
        width: 500px;
        margin-left: 30px;
    }
    .main-second-section{
        flex-direction: column;
        margin: 0;
    }
    .main-second-flower-img{
        margin-top: 40px;
        margin-left: 10px;
    }
    .main-second-trusted-img{
        display: none;
    }
    .main-second-title{
        margin-top: 80px;
        margin-left: 10px;
        font-weight: 700;
        font-size: 30px;
    }
    .main-second-description{
        font-weight: 400;
        font-size: 16px;
        width: 500px;
        margin-bottom: 150px;
    }
    .main-fourth-section{
        display: flex;
        flex-direction: column;
    }
    .main-third-title{
        font-weight: 700;
        font-size: 32px;
        margin-left: 170px;
        margin-bottom: 25px;
    }
    .main-third-descripton{
        font-weight: 400;
        font-size: 16px;
        width: 380px;
        margin: 0;
        margin-left: 90px;
        margin-bottom: 50px;  
    }
    .main-third-bg{
        margin: 0;
        width: 360px;
        height: 184px;
        margin-left: 100px;
    }
    .main-third-bg-second{
        margin: 0;
        width: 360px;
        height: 184px;
        margin-top: 25px;
        margin-left: 100px;
    }
    .main-third-bg-third{
        margin: 0;
        width: 362px;
        height: 172px;
        margin-top: 25px;
        margin-left: 100px;
        margin-bottom: 100px;
    }
    .main-third-zabo{
        margin: 0;
        font-weight: 700;
        font-size: 20px;
        margin-top: -90px;
    }
    .main-third-description-second{
        margin: 0;
        font-weight: 600;
        font-size: 16px;
    }
    .login-form-section{
        margin: 0;
        width: 562px;
        height: 450px;
    }
    .login-form-title{
        margin: 0;
        font-weight: 700;
        font-size: 20px;
    }
    .form-container{
        margin: 0;
        width: 321px;
        height: 50px;
        margin-left: 120px;
    }
    .footer-container{
        flex-direction: column;
    }
    .footer-anchor{
        grid-template-columns: repeat(1,1fr);
        margin-left: 10px;
        margin-bottom: 15px;
    }
    .footer-logo-description{
        margin-left: 10px;
        margin-bottom: 15px;
    }
    .icon-container{
        margin-left: 10px;
    }
}


                                                                                                /* alhamdulillah */